.step {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.step.active {
  background-color: #ccc;
}